:root {
--azul-principal:#3028F7;
--roxo:#B828F7;
--roxo-escuro:#6D22F0;
--azul-botao:#225BF0;
--rosa:#F022E8;
--rosa-claro:#FFB0F0; 
--roxo-principal:#9B65F5;
--branco:#FFFFFF;
--preto:#000000; 
--fonte-principal: "Inter", sans-serif;

}

body{
    background-color:var(--roxo-principal);
    color:var(--branco);
    font-family: var(--fonte-principal);
}

.principal{
    background-image: url("IMG/Bolinho.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}
.container{
    height: 70vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container__botao{
    background-color: var(--rosa);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario{
    border: 2px;
    background-color: var(--azul-botao);
    color:var(--preto);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__div{
    margin: 0 1em;

}





