:root {
--azul-principal:#3028F7;
--roxo:#B828F7;
--roxo-escuro:#6D22F0;
--azul-botao:#225BF0;
--rosa:#F022E8;
--rosa-claro:#FFB0F0; 
--roxo-principal:#9B65F5;
--branco:#FFFFFF;
--preto:#000000; 
--fonte-principal: "Inter", sans-serif;
}

body{
    background-color:var(--roxo-principal);
    color:var(--branco);
    font-family: var(--fonte-principal);
}

.principal{
    background-image: url("IMG/Bolinho.png");
    background-repeat: no-repeat;
    background-position: right;
    text-align: center;

}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.container__botao{
    background-color: var(--rosa);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao__secundario{
    border: 2px;
    background-color: var(--azul-botao);
    color:var(--preto);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__div{
    margin: 0 5em;
}

.secundario__imagem{
  width: 96%;
}

.secundario{
    align-items: center;
    margin: 0 5em;
    grid-template-columns: 50% 50%;
}

.descricao__titulo{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0.2em;
}

.container__descricao{
    margin: 0 5em;
    margin-left: 15em;
}

.descricao__texto{
    font-weight: 70;
    font-size: 20px;
    text-align: left;
}

.descricao__titulo2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 0.2em;
    text-align: center;
}

.container__descricao2{
    margin: 15em 5em;
}

.descricao__texto2{
    font-weight: 70;
    font-size: 20px;
    text-align: center;
}

.entrega{
    size: 10%;
    margin-left: 3em;
}

.secundario__botao{
    background-color:#B828F7;
    border-radius: 20px;
    padding: 1em;
    color: var(--branco);
    display: block;
    text-decoration-line: none;
    text-align: center;
}

.pontosD{
    width: 70%;
    margin-left: 10em;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    margin-top: 10em;
    text-align: center;
}
.dispositivos__titulo{
    font-size: 46px;
}

.lista__item2{
margin: 4em 0;
}

.a2{
margin: 2em 7em;
}

.rodape{
    text-align: center;
    margin: 3em 3em;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}
.lista__link a{
    text-decoration: none;
    color: var(--branco);
    margin-left: 1.5em;
}
.rodape__texto{
    margin: 1em 0;
    color: var(--branco);
}

.container__botao:hover{
    background-color: #ee4ad0;
    transform: scale(1.1);
    transition: 0.5s;
}

.botao__secundario:hover{
    background-color: #4072f0;
    transform: scale(1.1);
    transition: 0.5s;
}

.secundario__botao:hover{
    background-color: #c140f8;
    transform: scale(1.1);
    transition: 0.5s;
}
.lista__link a:hover{
    color: yellow;
    font-size: 16px;
}